@model FacrturasAPP.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripccion" class="control-label"></label>
                <input asp-for="Descripccion" class="form-control" />
                <span asp-validation-for="Descripccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crt" class="control-label"></label>
                <input asp-for="Crt" class="form-control" />
                <span asp-validation-for="Crt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uppdt" class="control-label"></label>
                <input asp-for="Uppdt" class="form-control" />
                <span asp-validation-for="Uppdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dltt" class="control-label"></label>
                <input asp-for="Dltt" class="form-control" />
                <span asp-validation-for="Dltt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
