@model List<Factura>

<h1> Factura</h1>

<table>
  <thead>
      <tr>
          <th>Fecha</th>
          <th>total</th>
      </tr>
  </thead>
  <tbody>
        @foreach (var factura in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => factura.Fecha)</td>
                <td>@Html.DisplayFor(m => factura.Total)</td>
            </tr>
        }
    </tbody>
</table>